@font-face {
  font-family: 'Impact';
  src: local('Impact'), url(/fonts/Impact/impact.ttf) format('truetype');
}

.meme-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}
